html,
body {
  height: 100%;
  margin: 0;
}

.sora-font {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(images/fond_2.png),
    linear-gradient(
        180deg,
        rgba(185, 103, 255, 1) 0%,
        rgba(255, 207, 234, 1) 100%
      )
      no-repeat;
  background-color: rgba(255, 207, 234, 1);
  background-size: 50%, cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------------------------------------   HEADER   -----------------------------------------------*/

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

menu {
  height: 50px;
  background: linear-gradient(-90deg, rgb(1, 205, 254), rgb(175, 233, 255));
  width: 700px;
  margin: 0;
  margin-bottom: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  margin-top: 20px;
  padding: 0;
  border: 2px solid black;
}

menu > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  color: black;
  font-weight: 600;
  font-size: 23px;
  width: 200px;
  height: 50px;
  align-items: center;
}

menu > a:hover {
  color: rgb(2, 100, 124);
}

.header-separateur {
  width: 2px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.152);
}

/* ---------------------------------------------------------- ACCUEIL -------------------------------------------------- */
.fenetre {
  width: 1200px;
  border: 2px solid black;
  background: linear-gradient(
    360deg,
    rgb(255, 113, 206) 0%,
    rgb(214, 94, 241) 100%
  );
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.barre {
  background-color: rgb(141, 28, 186);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.boutons-fenetre {
  display: flex;
  gap: 10px;
}

.boutons-fenetre span {
  cursor: pointer;
  background-color: rgb(1, 205, 254);
  color: rgb(0, 0, 0);
  padding: 2px 8px;
  border-radius: 4px;
}

.boutons-fenetre span:hover {
  background-color: rgb(74, 217, 253);
}

.contenu-fenetre {
  padding: 20px;
  background: url(images/Fond-produits.png), url(images/fond_3.png), no-repeat;
  font-weight: 300;
}

.logo-et-caroussel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(141, 28, 186);
  background: url(images/Fond-produits.png), url(images/fond_3.png),
    rgb(141, 28, 186) no-repeat;
  border: 2px solid black;
}

#logo {
  width: 20%;
  height: auto;
}

.mySlides {
  display: none;
  border: 5px solid rgb(255, 113, 206);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transform: rotate(7deg);
  margin-left: 60px;
  margin-top: 60px;
}

.caroussel img {
  width: 70%;
  height: auto;
}

.contenu-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.texte {
  max-width: 60%;
}

.texte h2 {
  margin: 0 0 10px;
}

.texte p {
  margin: 0;
}

.photos-accueil {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.photos-accueil img {
  width: 20%;
  height: auto;
  border: 8px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
  margin-bottom: 20px;
}

#premier-image-accueil {
  transform: rotate(10deg);
}

#premier-image-accueil:hover {
  transform: rotate(2deg);
}

#deuxieme-image-accueil {
  transform: rotate(-5deg);
}

#deuxieme-image-accueil:hover {
  transform: rotate(3deg);
}

#troisieme-image-accueil {
  transform: rotate(7deg);
}

#troisieme-image-accueil:hover {
  transform: rotate(1deg);
}

/* -------------------------------------------    PAGE CONNEXION    ------------------------------------------*/

.contenu-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fenetre-connexion {
  width: 400px;
  border: 2px solid black;
  background: linear-gradient(
    360deg,
    rgb(255, 113, 206) 0%,
    rgb(214, 94, 241) 100%
  );
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  text-align: center;
}

.barre-connexion {
  background-color: rgb(141, 28, 186);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.boutons-fenetre-connexion {
  display: flex;
  gap: 10px;
}

.boutons-fenetre-connexion span {
  cursor: pointer;
  background-color: rgb(1, 205, 254);
  color: rgb(0, 0, 0);
  padding: 2px 8px;
  border-radius: 4px;
}

.boutons-fenetre-connexion span:hover {
  background-color: rgb(74, 217, 253);
}

.bloc-connexion input[type="email"],
.bloc-connexion input[type="text"],
.bloc-connexion input[type="password"] {
  border: none;
  width: 200px;
  height: 22px;
}

.bloc-connexion input[type="email"]:focus,
.bloc-connexion input[type="text"]:focus,
.bloc-connexion input[type="password"]:focus {
  outline: none;
  border: 2px solid rgb(255, 113, 206);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.bloc-connexion input[type="submit"] {
  background-color: rgb(1, 205, 254);
  font-size: 16px;
  font-weight: 400;
  color: white;
  border: 2px solid black;
  margin-bottom: 10px;
}

.bloc-connexion input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(360deg, rgb(1, 205, 254), rgb(45, 185, 241));
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.bloc-connexion > a {
  text-decoration: none;
  display: block;
  padding: 4px;
  font-weight: 400;
  margin-right: 300px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(141, 28, 186);
  border: 2px solid black;
}

.bloc-connexion > a:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.contenu-connexion {
  background: url(images/Fond-produits.png), url(images/fond_3.png);
  background-position: center, -210px 0px;
}

.connecter {
  margin-left: 40px;
  width: 110px;
}
/* -----------------------------------------  LA PAGE CATALOGUE  -------------------------------------*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.product-card > a {
  color: black;
  text-decoration: none;
}

.product-card {
  background: url(images/Fond-produits.png), url(images/fond_3.png),
    linear-gradient(180deg, rgb(223, 70, 218) 0%, rgb(194, 57, 224) 100%)
      no-repeat;
  background-size: 100%, cover;
  background-position: center, -190px 0px;
  margin: 0;
  border: 2px solid #000000;
  padding: 20px;
  margin: 10px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-card p {
  font-weight: 500;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.form-catalogue {
  background-color: rgb(141, 28, 186);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: rgb(1, 205, 254);
  padding: 10px;
}

.form-catalogue input[type="number"] {
  width: 60px;
}

.form-catalogue input[type="submit"] {
  border: 1px solid black;
  background-color: rgb(1, 205, 254);
  font-weight: 600;
}

.form-catalogue input[type="submit"]:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* --------------------------------------------------   PAGE PROFIL   -----------------------------------------------*/
.contenu-profil {
  background: url(images/Fond-produits.png), url(images/fond_3.png);
  background-position: center, 0px 0px;
  height: 195px;
  text-align: center;
}

.nom-user {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}

.email-user,
.abonne_infolettre {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.liens-modification > a {
  text-decoration: none;
  font-weight: 300;
  background: linear-gradient(
    -90deg,
    rgb(1, 205, 254) 0%,
    rgb(145, 233, 255) 100%
  );
  padding: 3px;
  border: 1px solid black;
  margin-left: 10px;
  color: black;
}

.liens-modification > a:hover {
  background: linear-gradient(
    -90deg,
    rgb(0, 190, 237) 0%,
    rgb(117, 215, 240) 100%
  );
}

/* --------------------------------------------------  PAGE PRODUIT  ----------------------------------------------------*/
.page-produits-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background: url(images/Fond-produits.png), url(images/fond_3.png), no-repeat;
}

.product-container-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.product-imagess {
  flex: 1;
  max-width: 40%;
}

.product-imagess .main-product-image {
  width: 90%;
  height: auto;
  margin-bottom: 15px;
}

.main-product-image {
  border: 6px solid rgb(147, 18, 198);
}

.thumbnails {
  display: flex;
  gap: 10px;
}

.product-details {
  flex: 1;
  max-width: 85%;
}

.product-details p {
  margin: 10px 0;
  margin-bottom: 20px;
  font-weight: 400;
}

.thumbnail-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thumbnail-image:hover {
  opacity: 0.7;
}

.selected-thumbnail {
  opacity: 0.75;
  border: 2px solid #000;
}

.random-products {
  display: flex;
  gap: 20px;
  margin-top: -20px;
  justify-content: space-between;
}

.random-product {
  background: url(images/Fond-produits.png), url(images/fond_3.png),
    linear-gradient(180deg, rgb(223, 70, 218) 0%, rgb(194, 57, 224) 100%)
      no-repeat;
  background-size: 100%, cover;
  background-position: center, -190px 0px;
  padding: 15px;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.random-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.random-product-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.random-product p {
  margin: 10px 0;
  color: #000000;
}

.random-product a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.page-produits-details h2 {
  font-size: 1.8rem;
  color: #000000;
  text-align: center;
}

.boutonAjouterPanier {
  background: linear-gradient(
    -90deg,
    rgb(1, 205, 254) 0%,
    rgb(145, 233, 255) 100%
  );
  font-size: 16px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}

.boutonAjouterPanier:hover {
  background: linear-gradient(
    -90deg,
    rgb(10, 180, 223) 0%,
    rgb(99, 193, 217) 100%
  );
}

/* --------------------------------------------------   PANIER  ---------------------------------------------------------------*/
.liste-panier {
  list-style: none;
  margin-left: -41px;
}

.fenetre-panier {
  width: 900px;
  border: 2px solid black;
  background: linear-gradient(
    360deg,
    rgb(255, 113, 206) 0%,
    rgb(214, 94, 241) 100%
  );
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.barre-panier {
  background-color: rgb(141, 28, 186);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.boutons-fenetre {
  display: flex;
  gap: 10px;
}

.boutons-fenetre-panier span {
  cursor: pointer;
  background-color: rgb(1, 205, 254);
  color: rgb(0, 0, 0);
  padding: 2px 8px;
  border-radius: 4px;
}

.boutons-fenetre-panier span:hover {
  background-color: rgb(74, 217, 253);
}

.boutons-fenetre-panier button {
  cursor: pointer;
  background-color: rgb(1, 205, 254);
  color: rgb(0, 0, 0);
  padding: 2px 8px;
  border-radius: 4px;
  border: none;
  height: 21px;
  font-weight: 600;
}

.boutons-fenetre-panier button:hover {
  background-color: rgb(74, 217, 253);
}

.prix-total {
  background-color: rgb(141, 28, 186);
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.boutonValiderPanier {
  background: linear-gradient(
    -90deg,
    rgb(1, 205, 254) 0%,
    rgb(145, 233, 255) 100%
  );
  font-size: 16px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.boutonValiderPanier:hover {
  background: linear-gradient(
    -90deg,
    rgb(10, 180, 223) 0%,
    rgb(99, 193, 217) 100%
  );
}

.conteneur {
  display: flex;
  align-items: center;
}

.conteneur p {
  margin-left: 10px;
}

.conteneur-panier {
  text-align: center;
}

/* --------------------------------------------------   FOOTER  ---------------------------------------------------------------*/
#newsletter-section,
footer {
  font-weight: bold;
  text-align: center;
}

#newsletter-section {
  height: 95px;
  background: linear-gradient(-90deg, rgb(1, 205, 254), rgb(175, 233, 255));
  width: 700px;
  border-radius: 80px;
  border: 2px solid black;
}

#newsletter-section input[type="email"] {
  border: none;
  width: 200px;
  height: 22px;
  margin-right: 10px;
}

#newsletter-section input[type="email"]::placeholder {
  color: rgb(2, 159, 199);
  opacity: 0.4;
}

#newsletter-section input[type="submit"] {
  background: linear-gradient(90deg, rgb(255, 113, 206), rgb(214, 94, 241));
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: 1px solid black;
}

#newsletter-section input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(214, 94, 241), rgb(255, 113, 206));
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*ÉCRAN POUR TABLETTE*/
@media (min-width: 768px) and (max-width: 1024px) {
  .fenetre {
    width: 90%;
  }
}
